body{
  background-color:#1D1F21;
}
hr{
  border-style:dotted none none;
  height:0px;
  width:95%;
  border-color:#1572A1;
  border-width:15px;
  }
h1{
  font-style:italic;
  font-family:cursive;
  font-weight:bold;
  font-size: 16px/2;
  font-variant: small-caps;
  color:#96CBFE;
  }
h2{
  font-style:italic;
  font-family:cursive;
  font-weight:bold;
  font-size: 16px/2;
  font-variant: small-caps;
  color:#99CC99;
}
h3{
  font-style:italic;
  font-family:cursive;
  font-weight:bold;
  font-size: 16px/2;
  font-variant: small-caps;
  color:#8CBDEC;
}
ol{
  color:#057E72;
  font-size:20;
  font-style:italic;
}
table{
  background-colour:red;
}
